<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bismi Automation Suite">
<listeners>
        <listener class-name="org.bismi.testng.ExecutionListener"></listener>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.bismi.testng.TestRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
